/* base theme*/
.btn-start {
    margin-bottom: 1rem; 
}

.t-modal .modal-content {
    border-bottom: 3px solid transparent;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.t-modal .modal-header {
    padding: 30px 15px;
}

.t-modal .modal-title {
    text-transform: uppercase;
    font-size: 20px;
}
.t-modal .modal-title,
.t-modal .close {
    color: #fff;
}

/* primary */
.t-modal.primary .modal-content{
   border-color: #34495e;
}

.t-modal.primary .modal-header{
    background-color: #34495e;
}